$black: #000;
$white: #fff;

.audio {
  position: absolute;
  width: 60rem;
  left: calc(50% - 30rem);
  bottom: 3rem;
}

.leCanvas {
  width: calc(100vw - (100vw - 100%));
  height: calc(56.25vw - ((100vw - 100%) / 56.25));
  max-width: 128rem;
  max-height: 72rem;
  box-shadow: 0 0 0.3rem rgba($white, 0.3);
  image-rendering: pixelated;
}

:global {
  * {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  // 1. 100% width/height needed to handle fullscreen resizing in Chrome
  body {
    min-width: 100%; // [1]
    min-height: 100%; // [1]
    font-size: 1.6rem;
    background-color: $black;
  }

  canvas {
    height: 100%;
    width: 100%;
  }

  a {
    color: $white;
  }

  #root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
  }

  #test-controls {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
